.navigation{
    height: 100%;
    width: 25%;
    padding: 100px 20px;
    float: left;
}
.navigation a{
    width: 100%;
    height: 50px;
    padding: 10px 30px 10px;
    display: block;
    text-align: center;
    margin: auto;
    font-size: 20px;
    cursor: pointer;
    text-decoration: none;
    color: #ffffff;
}
.navigation a.active{
    background-color: #000000;
    opacity: 30%;
}